.duyuru-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .duyuru-grid {
        grid-template-columns: 1fr;
    }
}

.duyuru-grid-item {
    min-width: 0;
    /* Prevents grid blowout */
}