<div class="card" (click)="onCardClick()" [class.is-clickable]="true">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-5 mb-4">{{ duyuru.baslik }}</p>

        <p class="subtitle is-6 mb-3">
          <span class="icon is-small"><i class="fas fa-flag"></i></span>
          Öncelik:
          <span [class.has-text-danger]="duyuru.oncelik === 3" [class.has-text-warning]="duyuru.oncelik === 2"
            [class.has-text-info]="duyuru.oncelik === 1">
            {{ duyuru.oncelik === 3 ? 'Yüksek' : duyuru.oncelik === 2 ? 'Orta' : 'Düşük' }}
          </span>
        </p>

        @if (duyuru.departmanlar && duyuru.departmanlar.length > 0) {
        <p class="subtitle is-6">
          <span class="icon is-small"><i class="fas fa-building"></i></span>
          @if (totalDepartments > 0 && duyuru.departmanlar.length === totalDepartments) {
          Tüm Departmanlar
          } @else {
          {{ duyuru.departmanlar.length > 1 ? 'Departmanlar' : 'Departman' }}: {{ getDepartmentNames() }}
          }
        </p>
        }
      </div>
      <div class="media-right">
        @if (duyuru.okundu) {
        <span class="icon has-text-success">
          <i class="fas fa-check-double"></i>
        </span>
        } @else {
        <span class="icon has-text-grey-light">
          <i class="fas fa-check-double"></i>
        </span>
        }
      </div>
    </div>

    <div class="content">
      <p class="duyuru-aciklama">{{ duyuru.aciklama }}</p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item has-text-grey is-size-7">
      <span class="icon is-small mr-1"><i class="far fa-calendar-alt"></i></span>
      <span>Başlangıç: {{ duyuru.duyuru_baslangic_tarihi | date: 'dd/MM/yyyy' }}</span>
    </div>
    @if (duyuru.duyuru_bitis_tarihi) {
    <div class="card-footer-item has-text-grey is-size-7">
      <span class="icon is-small mr-1"><i class="far fa-calendar-alt"></i></span>
      <span>Bitiş: {{ duyuru.duyuru_bitis_tarihi | date: 'dd/MM/yyyy' }}</span>
    </div>
    }
  </footer>
</div>